# Copia este archivo como .env y rellena tus valores reales
# NO subas .env a GitHub

DATABASE_URL=postgresql://postgres:TU_PASSWORD@localhost:5432/eus_db
SECRET_KEY=cambia_esto_por_una_clave_larga_y_aleatoria
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
